{% extends 'block.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    {% block content %}
  <div class="lab">
    <h1>Lab Tests</h1>
    <h4>Assess and monitor your health from the comfort of your home now.</h4>
    <div class="lab-cards">
    <div class="lab-cards-card">
      <img src="{% static 'img/x1.jpg' %}" alt="">
      <h3>Offer Price  =  $400</h3>
    </div>
    <div class="lab-cards-card">
      <img src="{% static 'img/x2.jpg' %}" alt="">
      <h3>Offer Price  =  $890</h3>
    </div>
    <div class="lab-cards-card">
      <img src="{% static 'img/x3.jpg' %}" alt="">
      <h3>Offer Price  =  $450</h3>
    </div>
    <div class="lab-cards-card">
      <img src="{% static 'img/x4.jpg' %}" alt="">
      <h3>Offer Price  =  $600</h3>
    </div>
    <div class="lab-cards-card">
      <img src="{% static 'img/x5.jpg' %}" alt="">
      <h3>Offer Price  =  $700</h3>
    </div>
    </div>
    <div class="lab-cards">
    <div class="lab-cards-card">
      <img src="{% static 'img/x6.jpg' %}" alt="">
      <h3>Offer Price  =  $100</h3>
    </div>
    <div class="lab-cards-card">
      <img src="{% static 'img/x7.jpg' %}" alt="">
      <h3>Offer Price  =  $390</h3>
    </div>
    <div class="lab-cards-card">
      <img src="{% static 'img/x8.jpg' %}" alt="">
      <h3>Offer Price  =  $650</h3>
    </div>
    <div class="lab-cards-card">
      <img src="{% static 'img/x9.jpg' %}" alt="">
      <h3>Offer Price  =  $800</h3>
    </div>
    <div class="lab-cards-card">
      <img src="{% static 'img/x10.jpg' %}" alt="">
      <h3>Offer Price  =  $600</h3>
    </div>
    </div>
    <div class="lab-cards">
    <div class="lab-cards-card">
      <img src="{% static 'img/x1.jpg' %}" alt="">
      <h3>Offer Price  =  $300</h3>
    </div>
    <div class="lab-cards-card">
      <img src="{% static 'img/x12.jpg' %}" alt="">
      <h3>Offer Price  =  $690</h3>
    </div>
    <div class="lab-cards-card">
      <img src="{% static 'img/x13.jpg' %}" alt="">
      <h3>Offer Price  =  $750</h3>
    </div>
    <div class="lab-cards-card">
      <img src="{% static 'img/x14.jpg' %}" alt="">
      <h3>Offer Price  =  $900</h3>
    </div>
    <div class="lab-cards-card">
      <img src="{% static 'img/x15.jpg' %}" alt="">
      <h3>Offer Price  =  $700</h3>
    </div>
    </div>
    <div class="lab-cards">
    <div class="lab-cards-card">
      <img src="{% static 'img/x16.jpg' %}" alt="">
      <h3>Offer Price  =  $200</h3>
    </div>
    <div class="lab-cards-card">
      <img src="{% static 'img/x17.jpg' %}" alt="">
      <h3>Offer Price  =  $390</h3>
    </div>
    <div class="lab-cards-card">
      <img src="{% static 'img/x18.jpg' %}" alt="">
      <h3>Offer Price  =  $450</h3>
    </div>
    <div class="lab-cards-card">
      <img src="{% static 'img/x19.jpg' %}" alt="">
      <h3>Offer Price  =  $500</h3>
    </div>
    <div class="lab-cards-card">
      <img src="{% static 'img/x11.jpg' %}" alt="">
      <h3>Offer Price  =  $600</h3>
    </div>
    </div>
  </div>
  <div class="faqs">
    <div class="faq">
      <h1>FAQS</h1>
      <h3>7 Questions</h3>
      <ul>
        <li>How does home sample collection work?</li> <br><hr>
        <li>Can I reschedule/cancel my diagnostic test appointment?</li><br><hr>
        <li>How can I receive my reports on email again ?</li><br><hr>
        <li> I did not get my reports on email</li><br><hr>
        <li> What instructions should I follow for my tests?</li><br><hr>
        <li>How can I get a refund for my Full body Health Check /Diagnostic Screening pack ?</li><br><hr>
        <li>Can I club two or more sample collection slots</li><br><hr>
      </ul>
    </div>
  </div>
  <div class="last-best">  <h1>THE BEST </h1><br>
    <h2>DOCTOR GIVES</h2> <br>
    <h3>THE LEAST MEDICINE</h3></div><br><br><br>
    {% endblock content %}
</body>
</html>