{% extends 'block.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    {% block content %}
<div class="mind">
    <h1>Mindfulness Library</h1>
    <h4>Access our pre-recorded meditation sessions, at your convenience</h4>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/1v.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>One Rep at a time</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/1m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Covid Recovery</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/2v.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>5 Minute Meditation</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/2m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Running Programs</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/3v.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Meditation-Foundation</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/3m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Sleep Stories</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/5v.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Yoga-Pranayama</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/4m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Focus Maditations</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/6v.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Maditations For Kids</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/5m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Stress Reduction</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/7v.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Yoga</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/6m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>The Confidance Series</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/8v.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Everyday Maditations</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/7m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Difficult Emotions</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/9v.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>7 days Happiness</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/8m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Sleep Stories For Kids</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/10v.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>30 Minuets Yoga Nidra</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/9m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Sleep Maditations</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/1v.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>One Rep at a time</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/10m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Falling Into Sleep</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/12v.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>30 Minuets Parnayama</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/11m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Relationship Healing</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/13v.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Music</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/12m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Sayaing Yes to Life</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/14v.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Yoga Nidra</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/13m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Yoga Nidra</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/15v.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Emotional Health</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/14m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Walking Maditations</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/16v.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Emotional Health</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/15m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Breathing Practices</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/17v.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Yoga</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/16m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Happiness</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/18v.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>A Guide to Maditations</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/17m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Intermediate</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/21m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Asana Library</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/18m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Personal Growth</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/20v.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Gratitude</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/19m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>Yes</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
    <div class="mind-cards">
        <div class="mind-card">
            <img src="{% static 'img/21v.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>One Rep at a time</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
        <div class="mind-card">
            <img src="{% static 'img/20m.jpg' %}" alt="">
            <div class="mind-card-text">         
                <h1>One Rep at a time</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa, quis asperiores magnam laboriosam dolorem ea omnis molestias. Similique sint delectus modi id itaque hic ratione necessitatibus nihil! Numquam, voluptatem?</p>
                <h4>9 Packs</h4>
            </div>
        </div>
    </div>
</div><br><br><br><br>
    {% endblock content %}
</body>
</html>